{% extends "base.html" %}
{% block title %}Projects | Portfolio{% endblock %}

{% block content %}


<div class="project-card">

    <img src="https://via.placeholder.com/600x350"
         alt="Project"
         class="project-image">

    <div class="project-content">

        <h4>Portfolio Website</h4>

        <p>
            Personal portfolio website developed using Django with
            responsive design and modern user interface.
        </p>

        <div class="project-buttons">

            <a href="#"
               target="_blank"
               class="btn btn-primary">
                GitHub
            </a>

            <a href="#"
               target="_blank"
               class="btn btn-outline-light">
                Live Demo
            </a>

        </div>

    </div>

</div>

{% endblock %}